/* Testimonials component */
.Testimonials {
  margin: 80px auto;
  padding: 0 80px;
  position: relative;
}

.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 15px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: #212ea0;
}

.back-btn {
  right: auto;
  left: 0;
}

.slider {
  overflow: hidden;
}

.slider ul {

    display: flex;
    width: 300%;
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(-33%);
}

.slider ul li {
  list-style: none;
  width: 80%; 
  padding: 20px;
}

.slide {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 40px;
  border-radius: 10px;
  color: #ffffff;
  line-height: 1.4;
  height: 300px;
  background: url("/card.jpg");
  background-size: cover;
}

.slide img {
  width: 80px; 
  height: 80px; 
  object-fit: cover; 
  border-radius: 50%;
  margin-right: 10px;
  border: 4px solid #42a0f8;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
}

.testimonial-info h3 {
  color: #53b8f2;
}

/* Media Queries */
@media (max-width: 1360px) {
  .Testimonials {
    padding: 0 20px;
  }

  .next-btn,
  .back-btn {
    width: 30px;
    padding: 6px;
  }

  .slide img {
    width: 80px;
    height: 80px;
  }

  .user-info {
    font-size: 17px;
  }

  .slide {
    padding: 2px;
    font-size: 12px;
  }
  .testimonial-info p {
    font-size: 16px;
    padding: 5px;
  }
}

@media (max-width: 950px) {
  .Testimonials {
    padding: 0 20px;
  }

  .next-btn,
  .back-btn {
    width: 30px;
    padding: 6px;
  }

  .slide img {
    width: 60px;
    height: 60px;
  }

  .user-info {
    font-size: 14px;
  }

  .slide {
    padding: 2px;
    font-size: 12px;
  }
  .testimonial-info p {
    font-size: 13px;
    padding: 5px;
  }
}

@media (max-width: 576px) {
  .Testimonials {
    padding: 0 10px;
  }

  .next-btn,
  .back-btn {
    width: 30px;
    margin: -15px;
  }

  .slide img {
    width: 60px;
    height: 60px;
  }

  .slide {
    padding: 2px;
    font-size: 12px;
  }
  .testimonial-info p {
    font-size: 13px;
    padding: 5px;
  }

}
