* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container {
  padding-left: 10%;
  padding-right: 10%;
}
.btn {
 background: url("/btn.jpg");
 background-size: cover;
  color: #ffffff;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn img {
  width: 20px;
  margin-left: 10px;
  filter:invert(100%);
}

/* Media Queries */

/* Small devices (portrait tablets and large phones, 600px and below) */
@media (max-width: 600px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}

/* Medium devices (landscape tablets and small desktops, 768px and below) */
@media (max-width: 768px) {
  .container {
    padding-left: 7%;
    padding-right: 7%;
  }

  .btn {
    padding: 12px 22px;
    font-size: 15px;
  }
}

/* Large devices (desktops, 1024px and below) */
@media (max-width: 1024px) {
  .container {
    padding-left: 8%;
    padding-right: 8%;
  }

  .btn {
    padding: 13px 23px;
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  .container {
    padding-left: 8%;
    padding-right: 8%;
  }
  .btn {
    padding: 13px 22px;
    font-size: 15px;
  }
}
